<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.bbs.mapper.CalenMapper">
	<resultMap type="com.bbs.domain.Calendar" id="calMap">
		<result property="start1" column="start1" />

	</resultMap>
	<select id="calenList" resultMap="calMap">
		SELECT id, title,
		TO_char(start1, 'YYYY-MM-DD" "HH24:MI') start1,
		ALLDAY,
		TEXTCOLOR,
		BACKGROUNDCOLOR,
		BORDERCOLOR ,
		leader_id,
		cateCode
		FROM CALENDAR
	</select>

	<select id="calView" resultType="com.bbs.domain.Calendar">
		SELECT a.id, a.title,
		TO_char(start1, 'YYYY-MM-DD" "HH24:MI') start1,
		ALLDAY,a.cateMax,cateMin,
		TEXTCOLOR,
		BACKGROUNDCOLOR,
		BORDERCOLOR ,
		leader_id,content,writer,userid,
		a.cateCode,c.Catecode,c.CateName,c.CatecodeRef
		FROM CALENDAR a INNER
		join categori_jh c
		on
		a.cateCode = c.cateCode
		where a.id =#{id}
	</select>
	<select id="categori" resultType="com.bbs.domain.CategoriDTO">
		WITH recursive cte AS (
		SELECT
		cateName, cateCode,
		cateCodeRef,cateMax ,1 AS level
		FROM categori_jh
		WHERE cateCodeRef IS
		null
		UNION all
		SELECT p.cateName, p.cateCode,
		p.cateCodeRef,p.cateMax, 1
		+ LEVEL AS level
		FROM categori_jh p
		INNER JOIN
		cte
		ON p.cateCodeRef =
		cte.cateCode
		)
		SELECT cateName, cateCode,
		cateCodeRef,CATEMAX, LEVEL
		FROM cte;


	</select>

	<insert id="calinsert" parameterType="hashMap">

		INSERT INTO calendar
		(title
		,START1
		,leader_id
		,content
		,writer
		,cateMax
		,cateCode
		,userid
		)
		VALUES(#{title}
		,#{start1, jdbcType=TIMESTAMP}
		,#{leader_id}
		,#{content}
		,#{writer}
		,(SELECT cateMax FROM categori_jh WHERE catecode=#{cateCode})
		,#{cateCode}
		,#{userid}
		);

	</insert>
	<insert id="join">

		INSERT INTO user
		(id,username,nickname,name,lv,role)
		values
		(#{id},#{username},#{nickname},#{name},#{lv},#{role})

	</insert>
	<select id="userid" resultType="com.bbs.domain.User">
		SELECT ID FROM user WHERE ID =#{id}

	</select>
	<update id="rejoin">

		update USER set
		username = #{username}
		,nickname =#{nickname}
		,NAME =#{name}
		,lv = #{lv}
		,role=#{role}
		WHERE ID =#{id}
		
	</update>

	<select id="radelist" resultType="com.bbs.domain.Rade">
		SELECT * FROM rade WHERE calid = #{calid}
		order by id
	</select>

	<insert id="readjoin">
		INSERT INTO rade (calid,nickname,userid,job) VALUES (#{calid},#{nickname},#{userid},#{job})
	</insert>
	<update id="overjoin">
		UPDATE calendar set
		CATEMIN = (SELECT CATEMIN+1 FROM
		calendar WHERE ID = #{id})
		WHERE id = #{id}

	</update>
	<update id="last_tobal">
		UPDATE user SET last_tobal = (SELECT start1 FROM calendar WHERE id=#{_id})
		WHERE id =#{id}
	</update>

	<select id="searchMemberList" resultType="com.bbs.domain.User">
		select *
		from user
		where ${searchCulumn} like concat('%',#{searchText},'%')
	</select>
	<select id="memberList" resultType="com.bbs.domain.User">
		select * from user
	</select>
	<select id="memberCount" resultType="int">
		select count(*) from user
	</select>

		<select id="tobalList" resultType="com.bbs.domain.User">
	   <![CDATA[
		SELECT * FROM user WHERE DATE(last_tobal) >=date(subdate(now(), INTERVAL 7 DAY)) 
		AND date(last_tobal) <= date(NOW() )
		]]>
	</select>

	<update id="tobalck">
		UPDATE user SET  real_tobal = (SELECT last_tobal FROM user WHERE id = #{id})
		where id = #{id}
	</update>
		<select id="cut" resultType="com.bbs.domain.User">
	   <![CDATA[
			SELECT * FROM user WHERE DATE(real_tobal) <=date(subdate(now(), INTERVAL 15 DAY)) 
		AND date(last_tobal) <= date(NOW() ) or sooncut = 'N'
		and regdate != DATE_ADD(NOW(), INTERVAL -7 day) AND regdate != DATE_ADD(NOW(), INTERVAL +7 DAY)
		]]>
	</select>
	<select id="updateuser" resultType="com.bbs.domain.User">
	SELECT * FROM user WHERE id = #{id}
	</select>
	<update id="userupdate">

		update USER set
		issu = #{issu},
		yellowCard = #{yellowCard},
		yellowCardWhy =#{yellowCardWhy},
		sooncut  =#{sooncut}
		WHERE ID =#{id}
	</update>
	<delete id="deljoin">
		DELETE FROM rade WHERE id = #{id}
	</delete>
	<update id="min">
	UPDATE calendar set
		CATEMIN = (SELECT CATEMIN-1 FROM
		calendar WHERE ID = #{calid})
		WHERE id = #{calid}
	</update>
	<select id="discord" resultType="com.bbs.domain.Calendar">
	   <![CDATA[
		
		SELECT DISTINCT a.id, a.title,
		TO_char(start1, 'YYYY-MM-DD" "HH24:MI') start1,
		a.userid,
		a.cateCode,c.Catecode,c.CateName,c.CatecodeRef,
		r.calid
		FROM CALENDAR a INNER
		join categori_jh c
		on
		a.cateCode = c.cateCode
		JOIN rade r 
		ON 
		a.id = r.calid  
		where START1 >= DATE_ADD(NOW(), INTERVAL -30 MINUTE) AND START1 < DATE_ADD(NOW(), INTERVAL +30 MINUTE)

	]]>




	
	</select>
		<select id="dsm" resultType="com.bbs.domain.Calendar">
	
	SELECT userid
		FROM rade
	  WHERE calid = #{id}
	
	</select>
	
	<select id="alogin" resultType="com.bbs.domain.admin">
	
	SELECT *  from admin
  where id=#{id} and password=#{password}
	
	</select>
	<select id="dis" resultType="com.bbs.domain.Calendar">
		
			SELECT DISTINCT a.id, a.title,
		TO_char(start1, 'YYYY-MM-DD" "HH24:MI') start1,
		a.userid,
		a.cateCode,c.Catecode,c.CateName,c.CatecodeRef,
		r.calid,r.userid,r.nickname
		FROM CALENDAR a INNER
		join categori_jh c
		on
		a.cateCode = c.cateCode
		JOIN rade r 
		ON 
		a.id = r.calid  
		WHERE a.id = #{id}
	
	</select>


		<select id="blogin" resultType="com.bbs.domain.User">
	
	SELECT *  from user
  	where aid=#{aid} and apw= #{apw}
	
	</select>
	

	
	
</mapper>
